@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,p{
    font-family: 'Inter', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

h1{
    font-size: 2em; 
    /* 2 em = 25 , 1 = 12.5, .5 = 6.25*/
}
h2{
    font-size: 1.25em;
}

h1, h2{
    font-weight: 700;
    /* letter-spacing: 1px; */
}


h3{
    font-size: 1em;
    font-weight: 400;
    color: rgb(253 164 175);
}

p{
    font-weight: 400;
    font-size: .75em;
}

